a {
  font-weight: $font-weight-bold;
}

.btn-primary,
.btn-primary:visited {
  background-color: $gray;
  border-color: $gray;
  outline: none;
}

.btn-primary:hover,
.btn-primary:active, {
  background-color: $red;
  border-color: $red;
  outline: none;
}