// Page backgrounds

.mm-page,
.mm-wrapper_background body {
  background-color: unset;
}

main > .container {
  max-width: 800px;
  margin: 600px auto 0 auto;
  padding: 30px;
  background-color: $white;
}

.path-blog main > .container,
.page-node-type-blog main > .container {
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 500px) and (max-width: 859px) {
  main > .container {
    max-width: inherit;
    width: inherit;
    margin: 600px 30px 0 30px;
  }
}

@media screen and (max-width: 499px) {
  main > .container {
    max-width: inherit;
    width: inherit;
    margin: 450px 15px 0 15px;
    padding: 15px
  }
}

@media screen and (max-height: 400px) {
  main > .container {
    margin: 230px 15px 0 15px;
  }
}

h1.text-center.page-title {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  text-align: left !important;
}

.path-frontpage .paragraph--type--text h2 {
  font-size: x-large !important;
}

.node__submitted {
  text-align: left;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  margin-bottom: 1rem;
}

.page-node-type-blog main > .container .field--name-field-media-image {
  margin-bottom: 1rem;
  img {
    width: 100%;
  }
}

.field--name-field-subtitle {
  text-align: left;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  margin-bottom: 1rem;
  font-size: x-large;
  line-height: 1;
}

b, strong {
  font-weight: $font-weight-bold;
}

// General paragraph formatting

.field--name-field-paragraphs {
  > .field__item {
    margin-bottom: 3rem;
  }

  .field__label,
  h2 {
    text-align: left;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight; 
    margin-bottom: 1rem;
    font-size: xx-large;
    line-height: 1;
  }
}


// Logo strip

.paragraph--type--logo-strip .field__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


// Links
.paragraph--type--links {

  .field__items {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .field__item {
      display: flex;
      justify-content: flex-start;

      a {
        color: $white;
        background-color: $gray;
        text-decoration: none;
        padding: 0.25rem 1rem;
        border-radius: 2rem;

        &:hover,
        &:focus {
          background-color: $red;
        }
      }
    }
  }
}


// Blog

.path-blog {
  .media-library-item__name {
    display: none;
  }
}

.view-blog-page {
  .views-row {
    margin-bottom: 3rem;

    .field-content {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .blog-image {
        flex: 0 0 250px;
      }

      .blog-text {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        flex: 1;

        h2 {
          font-size: x-large;
        }

        .created {
          font-family: $headings-font-family;
          font-weight: $headings-font-weight;
        }

        .body {
          margin-bottom: 0.75rem;
        }

        .view {
          a {
            color: $white;
            background-color: $gray;
            text-decoration: none;
            padding: 0.25rem 1rem;
            border-radius: 2rem;

            &:hover,
            &:focus {
              background-color: $red;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
  .view-blog-page {
    .views-row {
  
      .field-content {
        flex-direction: column;
  
        .blog-image {
          flex: inherit;

          img {
            width: 100%;
          }
        }  
      }
    }
  }
}

// Home page blog preview

.path-frontpage .view-blog-page {
  .views-row {
    .field-content {
      .blog-image {
        flex: 0 0 200px;
      }
    }
  }
}


// Showreel

body.path-showreel  {

  #block-alimartin-page-title h1.text-center.page-title {
    text-align: center !important;
    margin-bottom: 60px;
  }
  .bef-exposed-form .form--inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: 60px;
    > div {
      margin: 0;
    }
  }
  .bef-exposed-form .form--inline > .form-item {
    float: inherit;
    margin: 0;
  }

  footer > .container {
    max-width: 1296px;
  }
  main > .container {
    max-width: 1296px;
    margin: 30px auto 90px auto;
    padding: 0;

    .region-content {
      padding: 0;
    }
  }
}

.view-video-portfolio .view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 30px;

  .views-row {
    flex-basis: 400px;
  }

  .field--name-field-video-type {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .field--name-name {
    font-family: $headings-font-family;
  }
  .field--name-field-band {
    // font-family: $headings-font-family;
    font-size: smaller;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  body.path-showreel  {
    footer > .container,
    main > .container {
      max-width: 100%;
    }
  }
}